name: Simple Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to Server
        uses: easingthemes/ssh-deploy@v5.0.0
        with:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          REMOTE_HOST: 92.205.249.36
          REMOTE_USER: y8qa668nyisj
          REMOTE_PORT: 65002
          TARGET: /home/y8qa668nyisj/public_html/app.dcnglobalexhibitions.com
          SOURCE: ./
          ARGS: "-avz --exclude='.env' --exclude='.env.*' --exclude='.git'"
          REMOTE_COMMAND: |
            cd /home/y8qa668nyisj/public_html/app.dcnglobalexhibitions.com
            php artisan cache:clear
            php artisan config:clear
            php artisan route:clear
            php artisan view:clear
